@using System.ComponentModel.DataAnnotations

<div class="container mt-5" id="contact">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="ContactHeader">Register for Alpha Access</h4>
            <EditForm Model="@contactModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@

                <div class="form-group d-flex">
                    <div class="form-group flex-fill">
                        <ValidationMessage For="@(() => contactModel.Name)" />
                        <input id="name" type="text" class="form-control input-field" @bind="contactModel.Name"
                            placeholder="Enter your name" />

                    </div>
                    <div class="form-group flex-fill">
                        <ValidationMessage For="@(() => contactModel.Country)" />
                        <select id="country" class="form-control input-field selectpicker" @bind="contactModel.Country"
                            data-live-search="true">
                            <option value="">Select your country</option>
                            @foreach (var country in countries)
                            {
                                <option value="@country.Code">@country.Name</option>
                            }
                        </select>

                    </div>
                    <ValidationMessage For="@(() => contactModel.Email)" />
                    <input id="email" type="email" class="form-control input-field" @bind="contactModel.Email" placeholder="Enter your email" />
                    <button type="submit" class="Contact-btn">Send</button>
                </div>
                
            </EditForm>
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success mt-3">@successMessage</div>
            }
        </div>
    </div>
</div>

<script>
    function scrollToElement(elementId) {
        const element = document.getElementById(elementId);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>
